#cardroot {
    display: grid;
    position: relative;
    left: 0;
    top: 0;
    width: 75%;
    height: auto;
    grid-template-columns: repeat(auto-fill, 16vw);
    grid-gap: 1vw 2vw;
    margin-left: 1%;
    padding-top: 10%;
}

body {
    cursor: url("../images/lucy_head.webp"), auto;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 0;
    background-position-y: 0;
}

body.mouseblink {
    cursor: url("../images/lucy_head3.webp"), auto;
}

body.mousedown,
body.mouseblink.mousedown {
    cursor: url("../images/lucy_head2.webp"), auto;
}

html,
body,
#container {
    width: 100%;
    height: 100%;
    margin: 0%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
}

#container {
    position: relative;
    display: block;
    left: 0;
    top: 0;
}

#cardroot>.card {
    display: flex;
    font-family: 华文中宋;
    perspective: 1000px;
    transform-origin: center center 20px;
}

.card>.card-content {
    box-shadow: black 0px 0px 7px;
    width: 100%;
    position: relative;
    padding-bottom: 6%;
    min-height: 60px;
    margin: 2%;
    transform-style: preserve-3d;
}

.card-content:hover {
    filter: brightness(1.1) contrast(1.3);
    box-shadow: rgba(0, 0, 0, 0.267) 0px 0px 7px;
}

.card-content:active {
    filter: brightness(1.2) contrast(1.5);
    box-shadow: rgba(0, 0, 0, 0.171) 0px 0px 7px;
}

.card-content>.card-image {
    width: 100%;
    height: auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.171);
    aspect-ratio: 440/280;
}

.card-content>.card-title {
    position: absolute;
    display: inline-block;
    left: 0;
    text-align: left;
    text-indent: 0.5em;
    bottom: 0;
    width: 100%;
    background: linear-gradient(transparent 0%, black 40%, black 100%);
    color: white;
}

.card-title::before {
    content: "";
    width: 3px;
    background-color: transparent;
    background-color: var(--color);
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.card-content>.card-fee {
    position: absolute;
    display: inline-block;
    right: 0;
    text-align: right;
    padding-right: 0.3em;
    top: 0;
    width: 100%;
    color: white;
}

.card-fee::before {
    content: "";
    height: 100%;
    background-color: rgba(3, 3, 3, 0.384);
    position: absolute;
    right: 0;
    top: 0;
    aspect-ratio: 1;
}

#cardinfo {
    position: fixed;
    display: block;
    right: 0;
    top: 3vw;
    /*see #menu*/
    height: 100%;
    background-color: rgba(240, 248, 255, 0.39);
    width: 20%;
    backdrop-filter: blur(10px);
}


#cardinfo:hover {
    background-color: rgba(212, 222, 231, 0.39);
}

#cardinfo>div {
    position: relative;
    width: 100%;
    word-wrap: break-word;
    display: block;
    height: auto;
    padding: 0.1em;
    min-height: 2em;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.226);
}

#cardinfo>div:hover {
    opacity: 0.9;
}

#cardinfo>div:active {
    opacity: 0.7;
}

.info-name {
    font-size: 2em;
    line-height: 2em;
    text-align: center;
}

.info-desc>b {
    color: rgb(255, 143, 50);
}

.info-comment>span[name='ally'] {
    color: green;
}

.info-comment>span[name='enemy'] {
    color: red;
}

.info-comment>span[name='deathally'] {
    color: rgb(95, 4, 4);
}

.no-select {
    user-select: none;
}

#toppane {
    background-color: #07447969;
    width: 100%;
    backdrop-filter: blur(5px) brightness(0.4);
    position: fixed;
    --height: 3vw;
    height: var(--height);
    left: 0;
    top: 0;
    box-shadow: #011a3982 0 1px 5px 4px;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-origin: border-box;
    z-index: 9;
}

#menu {
    position: relative;
    flex-grow: 1;
    color: rgb(235, 230, 230);
}

.pivot {
    display: block;
    position: relative;
    height: 100%;
    min-width: 10%;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    line-height: var(--height);
    background: #00000021;
    flex-grow: 1;
}

.pivot:hover {
    filter: brightness(1.1);
    background: #00000041;
}

.pivot:active {
    filter: brightness(1.2);
    background: #0000004a;
}

.pivot:hover>.pivot-submenu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s;
}

.pivot>.pivot-submenu {
    opacity: 0;
    transform: translateY(-100vh);
    transition-delay: 3s;
}

.pivot-submenu {
    background: #0000006b;
    overflow-y: auto;
    overflow-x: visible;
    word-wrap: break-word;
    text-overflow: ellipsis;
    line-break: strict;
    max-height: calc(100vh - 200%);
    scroll-behavior: smooth;
    scrollbar-color: #000000c5 transparent;
    transition-timing-function: cubic-bezier(.07, .7, .31, .99);
    backdrop-filter: blur(5px);
}

.pivot-popup {
    background: #ffffff13;
}

.pivot-popup:hover {
    filter: brightness(1.2);
    background: #ffffff71;
}

.version-info {
    display: block;
    position: relative;
    height: 100%;
    line-height: var(--height);
    flex-shrink: 0;
    background: #ffffff23;
    color: rgb(243, 232, 212);
}

.version-info:hover {
    filter: brightness(1.1);
    background: #ffffff41;
}

.version-info:active {
    filter: brightness(1.2);
    background: #ffffff4a;
}

#logo {
    top: 0;
    left: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-origin: border-box;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    opacity: 1;
    z-index: 99;
    transition-delay: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 0, .37, .8);
}

#logo.fade {
    opacity: 0;
}