#cardroot {
    display: grid;
    position: relative;
    left: 0;
    top: 0;
    width: 75%;
    height: auto;
    grid-template-columns: repeat(auto-fill, 16vw);
    grid-gap: 1vw 2vw;
    margin-left: 1%;
    padding-top: 10%;
}

#cardroot[name="relic"],
#cardroot[name="consume"],
#cardroot[name="scroll"],
#cardroot[name="active"],
#cardroot[name="potion"],
#cardroot[name="equip"] {
    grid-template-columns: repeat(auto-fill, 10vw);
    grid-gap: 0.5vw 1vw;
}

body {
    cursor: url("../images/lucy_head.webp"), auto;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 0;
    background-position-y: 0;
}

body.mouseblink {
    cursor: url("../images/lucy_head3.webp"), auto;
}

body.mousedown,
body.mouseblink.mousedown {
    cursor: url("../images/lucy_head2.webp"), auto;
}

html,
body,
#container {
    width: 100%;
    height: 100%;
    margin: 0%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
}

#container {
    position: relative;
    display: block;
    left: 0;
    top: 0;
}

#cardroot>.card {
    display: flex;
    font-family: 华文中宋;
    perspective: 1000px;
    transform-origin: center center 20px;
}

.card>.card-content {
    box-shadow: black 0px 0px 7px;
    width: 100%;
    position: relative;
    padding-bottom: 6%;
    min-height: 60px;
    margin: 2%;
    transform-style: preserve-3d;
}

.card-content:hover {
    filter: brightness(1.1) contrast(1.3);
    box-shadow: rgba(0, 0, 0, 0.267) 0px 0px 7px;
}

.card-content:active {
    filter: brightness(1.2) contrast(1.5);
    box-shadow: rgba(0, 0, 0, 0.171) 0px 0px 7px;
}

.card-content>.card-image {
    width: 100%;
    height: auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.171);
    aspect-ratio: 440/280;
}

#cardroot[name='relic'] .card-content>.card-image {
    aspect-ratio: 1;
}

#cardroot[name='consume'] .card-content>.card-image {
    aspect-ratio: 1;
}

#cardroot[name='scroll'] .card-content>.card-image {
    aspect-ratio: 1;
}

#cardroot[name='active'] .card-content>.card-image {
    aspect-ratio: 1;
}

#cardroot[name='potion'] .card-content>.card-image {
    aspect-ratio: 1;
}

#cardroot[name='equip'] .card-content>.card-image {
    aspect-ratio: 1;
}

.card-content>.card-title {
    position: absolute;
    display: inline-block;
    left: 0;
    text-align: left;
    text-indent: 0.7em;
    bottom: 0;
    width: 100%;
    --bcolor: black;
    background: linear-gradient(transparent 0%, var(--bcolor) 40%, var(--bcolor) 100%);
    --tcolor: white;
    color: var(--tcolor);
    font-size: 0.8em;
    line-height: 2em;
}

.card-title::before {
    content: "";
    width: 3px;
    background-color: transparent;
    background-color: var(--color);
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.card-title.equip {
    background: var(--bcolor);
}

.card-title[name='Legendary'] {
    --bcolor: yellow;
    --tcolor: black;
}

.card-title[name='Unique'] {
    --bcolor: red;
}

.card-title[name='UnCommon'] {
    --bcolor: green;
}

.card-title[name='Rare'] {
    --bcolor: blue;
}

.card-title[name='Common'] {
    --bcolor: white;
    --tcolor: black;
}


.card-content>.card-fee {
    position: absolute;
    display: inline-block;
    right: 0;
    text-align: right;
    padding-right: 0.3em;
    top: 0;
    width: 100%;
    color: white;
    z-index: 2;
}

.card-fee>.card-fee-background {
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: #00000062;
    position: absolute;
    right: 0;
    top: 0;
    aspect-ratio: 1;
    z-index: -1;
}

.card-fee {
    mix-blend-mode: normal;
}

#cardinfo {
    position: fixed;
    display: block;
    right: 0;
    top: 3vw;
    /*see #menu*/
    height: 95%;
    background-color: rgba(240, 248, 255, 0.39);
    width: 20%;
    backdrop-filter: blur(10px);
    overflow: hidden;
    overflow-y: auto;
}


#cardinfo:hover {
    background-color: rgba(212, 222, 231, 0.39);
}

#cardinfo>div {
    position: relative;
    width: 100%;
    word-wrap: break-word;
    display: block;
    height: auto;
    padding: 0.1em;
    min-height: 2em;
    text-align: left;
}

#cardinfo>div:hover {
    opacity: 0.9;
}

#cardinfo>div:active {
    opacity: 0.7;
}

.info-name {
    font-size: 2em;
    line-height: 1em;
    margin-top:0.1em;
    text-align: center;
}

.info-desc>b {
    color: rgb(255, 143, 50);
}

.info-attr>span[name='ally'],
.info-attr>span[name='all_ally'],
.info-attr>span[name='otherally'] {
    color: green;
}

.info-attr>span[name='enemy'],
.info-attr>span[name='all_enemy'],
.info-attr>span[name='random_enemy'] {
    color: red;
}

.info-attr>span[name='deathally'] {
    color: rgb(95, 4, 4);
}
.info-attr>span[name='self'] {
    color: rgb(236, 176, 34);
}.info-attr>span[name='skill'] {
    color: rgb(4, 4, 100);
}
.info-desc>span{
    background-color: #0000007d;
}
.info-desc>span:hover{
    background-color: transparent;
}
.no-select {
    user-select: none;
}

#toppane {
    background-color: #07447969;
    width: 100%;
    backdrop-filter: blur(5px) brightness(0.4);
    position: fixed;
    --height: 3vw;
    height: var(--height);
    left: 0;
    top: 0;
    box-shadow: #011a3982 0 1px 5px 4px;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-origin: border-box;
    z-index: 9;
}

#menu {
    position: relative;
    flex-grow: 1;
    color: rgb(235, 230, 230);
}

.pivot {
    display: block;
    position: relative;
    height: 100%;
    min-width: 10%;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    line-height: var(--height);
    background: #00000021;
    flex-grow: 1;
}

.pivot:hover {
    filter: brightness(1.1);
    background: #00000041;
}

.pivot:active {
    filter: brightness(1.2);
    background: #0000004a;
}

.pivot:hover>.pivot-submenu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s;
}

.pivot>.pivot-submenu {
    opacity: 0;
    transform: translateY(-100vh);
    transition-delay: 3s;
}

.pivot-submenu {
    background: #0000006b;
    overflow-y: auto;
    overflow-x: visible;
    word-wrap: break-word;
    text-overflow: ellipsis;
    line-break: strict;
    max-height: calc(100vh - 200%);
    scroll-behavior: smooth;
    scrollbar-color: #000000c5 transparent;
    transition-timing-function: cubic-bezier(.07, .7, .31, .99);
}

.pivot-popup {
    background: #ffffff13;
}

.pivot-popup:hover {
    filter: brightness(1.2);
    background: #ffffff71;
}

.version-info {
    display: block;
    position: relative;
    height: 100%;
    line-height: var(--height);
    flex-shrink: 0;
    background: #ffffff23;
    color: rgb(243, 232, 212);
}

.version-info:hover {
    filter: brightness(1.1);
    background: #ffffff41;
}

.version-info:active {
    filter: brightness(1.2);
    background: #ffffff4a;
}

#logo {
    top: 0;
    left: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-origin: border-box;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    opacity: 1;
    z-index: 99;
    transition-delay: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 0, .37, .8);
}

#logo.fade {
    opacity: 0;
}

.card-turns {
    background: #d25e25b5;
    color: #fffbf4;
}

.card-cost {
    width: 100%;
    display: inline-block;
    background: #f0f8ff85;
}

.card-key {
    opacity: 0.5;
}

.card-basic {
    background: #27e216b5;
    color: #000000;
}

.card-fatal {
    background: #aa2403b5;
    color: #f8c773;
}
.card-ignore {
    background: #fa2403b5;
    color: #ffc222;
}

.info-comment {
    background-color: #f0f8ff61;
}
.card-ununequippable{
    background-color: #f0f8aa61;
}
.card-nodrop{
    background-color: #a0f8ff61;
}
.card-nonbasic{
    background-color: #e7a216b5;
}
.card-countdown{
    background-color: #2a1b33b5;
    color:white;
}