.qa_root {
    display: block;
    position: relative;
    width: 90%;
    height: auto;
    left: 0;
    top: 0;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0;
}

.qa-sec {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2%;
    box-shadow: #00000069 1px 1px 5px 2px;
    border-radius: 2px;
    backdrop-filter: blur(5px);
    background-color: #ffffff3d;
}

.qa-q {
    display: block;
    position: sticky;
    padding-left: 1%;
    padding-bottom: 1%;
    border-radius: 2px 2px 0 0;
    font-size: 2em;
    top: 3vw;
    z-index: 1;
    background-color: #ffffff38;
}

.qa-q:hover {
    background-color: #ffffff73;
}

.qa-q:active {
    background-color: #ffffffaa;
}

.qa-a:hover {
    background-color: #ffffff73;
}

.qa-a:active {
    background-color: #ffffffaa;
}

.qa-a {
    display: block;
    position: relative;
    padding-left: 1%;
    padding-bottom: 1%;
}

.sharedFilePreviewImage {
    max-width: 80%;
    max-height: 90vh;
}

.subSectionTitle {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    color: #66C0F4;
    font-size: 18px;
}